

          <h2>Leaderboard</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Place</th>
                  <th>Movie</th>
                  <th>Vote Count</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#1</td>
                  <td>{{movieTitle}}</td>
                  <td>{{votes}} Votes</td>
                </tr>
                <tr>
                  <td>#2</td>
                  <td>{{movieTitle}}</td>
                  <td>{{votes}} Votes</td>
                </tr>
                <tr>
                  <td>#3</td>
                  <td>Item Name</td>
                  <td>{{votes}} Votes</td>
                </tr>
                <tr>
                  <td>#4</td>
                  <td>Item Name</td>
                  <td>{{votes}} Votes</td>
                </tr>
                <tr>
                  <td>#5</td>
                  <td>Item Name</td>
                  <td>{{votes}} Votes</td>
                </tr>
                <tr>
                  <td>#6</td>
                  <td>Item Name</td>
                  <td>{{votes}} Votes</td>
                </tr>
                <tr>
                  <td>#7</td>
                  <td>Item Name</td>
                  <td>{{votes}} Votes</td>
                </tr>
                <tr>
                  <td>#8</td>
                  <td>Item Name</td>
                  <td>{{votes}} Votes</td>
                </tr>
              </tbody>
            </table>
          </div>